# Class-specific section #


# Java section #

*.class
#   Package Files #
*.jar
*.war
*.ear

# Django section #

.DS_Store
*.log
*.pot
*.pyc
local_settings.py
djangodev/

# C extensions
*.so

# Packages
*.egg
*.egg-info
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject




